@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron banner">
    <h1 class="banner-text">Departementen</h1>
    <p class="lead, banner-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<div class="row">
    <div class="col-md-3 thumbnail">  
        <pre><h4>Business</h4></pre>

        <img src="~/Content/Images/1314_business.png" />
        <p>
            Kom studeren in een creatieve en ondernemende business-school! Ondernemerschap is de motor van onze economie. Voor creatief en eigentijds businessonderwijs moet je bij PXL-Business zijn!
        </p>
    </div>
    <div class="col-md-3 thumbnail">
        <pre><h4>Education</h4></pre>

        <img src="~/Content/Images/1314_secundair_onderwijs1.png" />
        <p>
            Goed onderwijs, één van de fundamenten van een welvarende maatschappij, steunt op bekwame leraars. Zij zorgen elke dag opnieuw voor kwaliteitsvol onderwijs. Wil jij één van hen worden?
        </p>
    </div>
    <div class="col-md-3 thumbnail">
        <pre><h4>IT</h4></pre>
       @* <img src="~/Content/Images/1314_muzikant_kbl1.png" /> Healthcare image corrupted*@
        <img src="~/Content/Images/1314_it_kbl6.png" />
        <p>
            PXL-IT richt zich heel sterk op state-of-the-art technologie. We hebben dan ook als enige IT-opleiding een bijzonder kwaliteitskenmerk voor innovatie en onderzoek. 
        </p>
    </div>
</div>